[Database]
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=backend_database
DB_PORT=5432
DB_NAME=excuses404

[Email]
api_key=
sender_name=
sender_email=

[Auth]
enabled=1
jwt_secret=
jwt_algorithm=
jwt_exp_delta_seconds=

[Users]
enabled=1

[Otp]
enabled=1

[Classes]
enabled=1

[Locations]
enabled=1