[database]
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=backend_database
DB_PORT=5432
DB_NAME=excuses404

[email]
api_key=
sender_name=
sender_email=

[auth]
enabled=1
jwt_secret=
jwt_algorithm=
jwt_exp_delta_seconds=

[users]
enabled=1

[otp]
enabled=1

[classes]
enabled=1

[locations]
enabled=1